body {
	margin: 0;
	padding: 0;
	font-family: "Monaco", monospace;
	width: fit-content;
}

.cuerpo {
	padding: 35px 50px 35px 50px;
}

a {
	text-decoration: none;
	color: inherit;
}

h1 {
	margin: 0;
	padding: 0 0 10px 50px;	
	font-size: 50px;
	border-style: solid none solid none;
	border-width: 4px;
	border-color: grey;
}

h2 {
	margin: 0;
	padding: 0 0 25px 50px;
	font-size: 35px;
	font-weight: normal;
	color: darkslategrey;
	border-bottom: 4px solid;
	border-color: grey;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 25px;
}

h5 {
	font-size: 20px;
}

p {
	line-height: 1.0;
	font-size: 15px;
}

ul {
	list-style: none;
	padding: 0px;
	margin: 0;
}

button {
	font-size: 15px;
	color: white;
	border: 0px;
	border-radius: 3px;
}

header {
	background-color: red;
	height: 90px;
	position: sticky;
	top: 0;
	z-index: 2;
}

nav {
	padding: 35px 50px 35px 50px;
	display: flex;
	height: 20px;
	align-items: center;
}

.logo-web {
	height: 50px;
	padding-right: 65px;
}

.navegador-header {
	display: flex;
	width: 100%;
	justify-content: flex-end;
}

.navegador-header li {
	margin-left: 40px;
}

.titulo {
	background-color: lightgrey;
	height: 220px;
	overflow: hidden;
}

.titulo div {
	padding-top: 60px;
	border-top: 4px solid;
	border-color: grey;
}

.tareas-realizar div {
	margin: 0;
	paddind: 0;
	display:flex;
	justify-content: space-between;
}

.seccion-pendiente-urgente {
	width: 25%;
	display:flex;
	flex-direction: column;
}

.titulo-de-tareas {
	text-align: center;
}

.boton-hecho {
	margin: 25px 50px 0 50px;
	padding: 8px 15px 8px 15px;
	background-color: limegreen;

}

.boton-no-hecho {
	margin: 25px 50px 0 50px;
	padding: 8px 15px 8px 15px;
	background-color: darkred;
}

.boton-acceder {
	padding: 8px 15px 8px 15px;
	background-color: black;
}

.rutinas {
	width: 18%;
	displya:flex;
	flex-direction: column;
}

.numero-rutina {
	margin-bottom: 45px;
}

.recuadro {
	padding: 0 0 10px 5px;
	display: flex;
	flex-direction: column;
	border-style: solid;
	border-width: 1px;
	border-color: lightgrey;
	border-radius: 10px;
}

.recuadro h5 {
	padding-left: 10px;
}

.recuadro div {
	padding: 0 0 25px 10px;
	display:flex;
	height: 50px;
	align-items: center;
}

.enfoque-tema {
	font-size: 14px;
	margin-top: 5px;
	text-align: center;
}

article {
	display: flex;
	flex-direction: column;
}

video {
	max-width: 100%;
	height: auto;

}

article a {
	margin-top: 10px;
	font-size: 20px;
	text-align: center;
}

.tabla-comentarios {
	width: 100%;
	overflow-x: auto;
	border-collapse: collapse;
}

.tabla-comentarios td{
	padding: 10px 0 10px 20px;
}

.columna-1 {
	width: 25%;
}

.columna-2 {
	width: 25%;
}

.columna-3 {
	width: 50%;
	text-align: center;
}

.seccion-comentarios {
	margin-top: 80px;
}

.tabla-comentarios tr:nth-child(even){
	background-color: #f2f2f2;
}

.tabla-comentarios tr:nth-child(odd){
	background-color: grey;
}

.seccion-valoraciones {
	margin-top: 50px;
	display:grid;
	grid-template-columns: 1fr minmax(80px, 2fr) 1fr;
	column-gap: 50px;
}

.valoracion {
	padding: 10px 30px 40px 15px;
	background-color: red;
	border-radius: 15px;
}

.usuario {
	height: 50px;
}

.comentario-usuario {
	padding-top: 15px;
	display: flex;
	height: 50px;
	align-items: center;
}


footer {
	
}

.logo-redes {
	height: 20px;
}


@media (min-width: 600px) {

}

@media (min-width: 992px){

}