body {
	margin: 0;
	padding: 0;
	font-family: "Monaco", monospace;
}

h1 {
	font-size: 50px;
}

h2 {
	font-size: 35px;
	font-weight: normal;
	color: darkslategrey;
}

h3 {
	font-size: 25px;
}

h4 {
	font-size: 20px;
}

h5 {
	font-size: 15px;
}

p {
	line-height: 0.7;
	font-size: 12px;
}

ul {
	list-style: none;
	padding: 0px;
	margin: 0;
}

header {
	background-color: red;
	height: 90px;
	position: sticky;
	top: 0;
}

nav {
	padding: 35px 50px 35px 50px;
	display: flex;
	height: 20px;
	align-items: center;
}

.logo-web {
	height: 50px;
	padding-right: 65px;
}

.navegador-header {
	display: flex;
	width: 100%;
	justify-content: flex-end;
}

.navegador-header li {
	margin-left: 40px;
}

footer {
	
}